.playing-music{
    background-color: #0f172a !important;
    height: 6rem;
}
.rhap_time, .rhap_current-time{
    color: #fff !important ;
}
::selection{
    background-color: transparent;
    color: rgb(3, 97, 116);
}
.detailsong::-webkit-scrollbar{
    display: none;
}

/* Mobile */
@media (max-width: 739px ){
    .container{
        display: flex;
        flex-direction: column;        
    }
    .detailsong{
        display: none;
    }
    
}